<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <meta name="description" content="Blog about aviation">
 <title>Blog - 3027884</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <link rel="stylesheet" href="/style.css">
</head>
<body>
 <!-- <div class="container"> -->
    <header>

        <nav class="navbar navbar-expand-sm navbar-dark bg-black">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Blog</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">Blog</a>                    
                    </li>
                    <% if (isAuthenticated) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profile</a>                    
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log out</a>                    
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log in</a>                    
                        </li>
                    <% } %>
                </ul>
              </div>
            </div>
          </nav>
    </header>